<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/javascript" src="../js/seven.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/stylesheet.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body onload="getDate();">
      <div class="toolbar">
        <a href="../index-en.html"><img src="../icons/logo.png" alt="set" id="logo"/></a>
        <a href="../views/four-en.html"><img src="../icons/settings.png" alt="set" id="settings" /></a>
      </div>
      
        <h2 id="title">Account History</h2>
        
              
          <div class="con">
           <table id="ingresos_categoria"  class="main_table2">
             <tr><td class="resumen"><p id="cat"></p></td></tr>
            </table>
            <table id="ingresos_mensuales" class="main_table2">
             <tr><td class="resumen"><p id="mensual"></p></td></tr>
            </table>
            <table id="ingresos_anuales" class="main_table2" >
             <tr><td class="resumen"><p id="anual"></p></td></tr>
            </table>
            <table id="ingresos_acum"  class="main_table2">
             <tr><td class="resumen"><p id="acum"></p></td></tr>
            </table>
          </div>

          <!--  Egresos-->
          <div class="eg">
           <table id="egresos_categoria"  class="main_table2">
             <tr><td class="resumen"><p id="cat2"></p></td></tr>
            </table>
            <table id="egresos_mensuales" class="main_table2">
             <tr><td class="resumen"><p id="mensual2"></p></td></tr>
            </table>
            <table id="egresos_anuales"  class="main_table2" >
             <tr><td class="resumen"><p id="anual2"></p></td></tr>
            </table>
            <table id="egresos_acum"  class="main_table2">
             <tr><td class="resumen"><p id="acum2"></p></td></tr>
            </table>
          </div>

 <script type="text/javascript">
    function getDate(){
       var hoy = new Date();
        var mm = hoy.getMonth()+1;
       if (mm<10) mm = '0' + mm;
        var yy = (hoy.getFullYear()).toString();
        document.getElementById('mensual').innerHTML="Monthly ("+mm+")";
        document.getElementById('mensual2').innerHTML="Monthly ("+mm+")";
        document.getElementById('anual').innerHTML="Annual ("+yy+")";
        document.getElementById('anual2').innerHTML="Annual ("+yy+")";
        document.getElementById('cat').innerHTML="Category";
        document.getElementById('cat2').innerHTML="Category";
        document.getElementById('acum').innerHTML="Accum.";
        document.getElementById('acum2').innerHTML="Accum.";
    }


  </script>
  </body>
  </html>
    