<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/javascript" src="../js/seven.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/stylesheet.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
      <div class="toolbar">
        <a href="../index-en.html"><img src="../icons/logo.png" alt="set" id="logo"/></a>
        <a href="../views/four-en.html"><img src="../icons/settings.png" alt="set" id="settings" /></a>
      </div>
      
        <h2 id="title">Account History</h2>
        
          <div class="con">
           <table id="ingresos_categoria"  class="main_table2">
             <tr><td class="resumen">Category</td></tr>
            </table>
            <table id="ingresos_mensuales" class="main_table2">
             <tr><td class="resumen">Monthly</td></tr>
            </table>
            <table id="ingresos_anuales"  class="main_table2" >
             <tr><td class="resumen">Annual</td></tr>
            </table>
            <table id="ingresos_acum"  class="main_table2">
             <tr><td class="resumen">Acc.</td></tr>
            </table>
          </div>

          <!--  Egresos-->
          <div class="eg">
           <table id="egresos_categoria"  class="main_table2">
             <tr><td class="resumen">Category</td></tr>
            </table>
            <table id="egresos_mensuales" class="main_table2">
             <tr><td class="resumen">Monthly</td></tr>
            </table>
            <table id="egresos_anuales"  class="main_table2" >
             <tr><td class="resumen">Annual</td></tr>
            </table>
            <table id="egresos_acum"  class="main_table2">
             <tr><td class="resumen">Acc.</td></tr>
            </table>
          </div>
 
  </body>
  </html>
    