<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/stylesheet.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <title>Pantalla 6</title>
  </head>
  <body onload="getSaldo(); getTitleIngresos(sessionStorage.getItem('id_categoria'));">
    <div class="toolbar">
      <a href="../index.html"><img src="../icons/logo.png" alt="set" id="logo"/></a>
      <a href="../views/four.html"><img src="../icons/settings.png" alt="set" id="settings" /></a>
    </div>
      <div class="container" id="main">
        <div class="table_container" style="position: absolute;left: 50%;top: 50%;width: 65%;transform: translate(-50%, -50%);">
          <h2 id="title">Categoria</h2>
            <table border=1 rules=none frame=box id="main_table" style="border: 5px solid #E37474">
                <tr><td class="row" style="text-align: center;">Sueldo Actual de la cuenta</td></tr>
                <tr><td class="row2"><input type="text" name="sueldos" value="" class="inputs" id="saldo" diabled></td></tr>
                <tr><td class="row"  style="text-align: center;">Monto a ingresar</td></tr>
                <tr><td class="row2"><input type="text" name="sueldos" value="" class="inputs" id="saldo_agregar"></td></tr>
                <tr><td class="row"><input type="button" name="sueldos" value="ingresar" class="inputs btn-success" style="border-radius:5px;" onclick="insertarIngresos(sessionStorage.getItem('id_categoria')); redirectIndex();"></td></tr>
            </table>
        </div>
      </div>
  </body>
  <script type="text/javascript" src="../js/reven.js"></script>
  <script type="text/javascript" charset="utf-8">

    function redirectIndex(){
        navigator.notification.vibrate(60000000);
        navigator.notification.alert("Monto agregado", redirect(), "Correcto", "OK");
    }

    function redirect(){
       window.location.href("../index.html");
    }
</html>
